*.pyc
build/*
dist/*
*.egg-info/

\.idea/
docs/_build/*
docs/reference/_autosummary/*
docs/tutorials/\.ipynb_checkpoints/

hera_sim/GIT_INFO

hera_sim/\.ipynb_checkpoints/

\.ipynb_checkpoints/

*.coverage*
pip-wheel-metadata/
coverage.xml
.vscode/
