language: python
dist: xenial

python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "2.7"
  - '3.6'
  - '3.7'

# Cache pip-installed dependencies
cache:
    pip: true

    # Test against known version of pyuvdata and current version
env:
  - PYUVDATA_VERSION=""

allow_failures:

install:
  # ensure that we have the full tag information available for version.py
  - git fetch --tags
  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda init bash
  - source ~/.bashrc
  # Useful for debugging any issues with conda
  - conda info -a

  # create environment and install dependencies
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION
  - conda activate test-environment
  - conda install -c conda-forge --file requirements_dev_conda.txt
  - pip install -r requirements_dev.txt
#  - conda install -c conda-forge aipy
#  - pip install coveralls
#  - pip install git+https://github.com/HERA-Team/pyuvdata.git$PYUVDATA_VERSION
#  - pip install git+https://github.com/HERA-Team/linsolve.git
#  - pip install git+https://github.com/HERA-Team/hera_qm.git
#  - pip install git+https://github.com/HERA-Team/uvtools.git
#  - pip install git+https://github.com/HERA-Team/hera_cal.git
  - pip install .

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "export MPLBACKEND=agg"
  - sleep 3

script: nosetests hera_sim --with-coverage --cover-package=hera_sim --verbose

after_success:
  - coveralls
