aipy==3.0.0rc2
coverage
coveralls
future
git+https://github.com/HERA-Team/uvtools.git
h5py
matplotlib
# Because we don't yet have an agreed-on way to pin dependencies,
# this list is left very flexible in terms of version numbers.
# Since requirements.txt is used to specify *development* environments,
# it should actually be pinned.
nose
numpy
pre-commit
pyuvdata
scikit-learn
scipy
