name: Publish Python distributions to PyPI

# The idea here is that you would make a Release via the web interface on github,
# and this automatically then publishes to pypi

on:
  push:
    tags:
      - '*'

jobs:
  build-n-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install build
        run: pip install build

      - name: Build a binary wheel and a source tarball
        run: |
          python -m build

      - name: Publish to PyPI
        if: startsWith(github.event.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@v1.10.0
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
